{% extends "_helpers/_base.html" %}

{%  block title %}

    Logs List
{%  endblock  %}

{% block content %}
    <a href="{% url "logger-counter:list_user" %}">
        <button class="btn btn-primary">
            Log List by User
        </button>
    </a>
    <a href="{% url "logger-counter:list_sessions" %}">
        <button class="btn btn-primary">
            Log List by Sessions
        </button>
    </a>
    <p>Count all Logs: {{ count_logs }}</p>
    <ol>
        {% for log in object_list %}
            <li>
                <div class="col my-element-style">
                    <div class="my-element-content">
                        <p>ID: {{ log.id }}</p>
                        <p>Request path: {{ log.path }}</p>
                        {% if user.is_authenticated %}
                            <p>User: {{ log.user }}</p>
                        {% else %}
                            <p>User: Unknown user</p>
                        {% endif %}
                        <p>Session id: {{ log.session_id }}</p>
                        <p>Count_requests: {{ log.counter }}</p>
                        <p>Created time: {{ log.visit_time }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}

    </ol>
    {%  include "middleware_counter/paginate.html"  %}



{% endblock %}